.code {
    background: var(--pico-background-color);
}

.code-box {
    background-color: var(--pico-background-color);
    position: relative;
    padding: 5%;
    background:
        radial-gradient(
            circle at 90% -50%,
            var(--pico-primary-background) 0,
            transparent 66%
        ),
        radial-gradient(
            circle at 10% 150%,
            var(--pico-secondary-background) 0,
            transparent 66%
        );
}

.code-box .code-copy {
    color: var(--pico-contrast);
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background: none;
    padding: 0.575rem;
    cursor: pointer;
}

.code-box .code-copy:hover {
    color: var(--pico-contrast-hover);
}

.code-box pre[class*=language-] {
    background-color: var(--pico-muted-color);
    color: var(--pico-color);
    margin: 0;
}

@media screen and (min-width: 768px) {
    .code-box {
        background:
            radial-gradient(
                circle at 90% -50%,
                var(--pico-primary-background) 0,
                transparent 66%
            ),
            radial-gradient(
                circle at 10% 150%,
                var(--pico-secondary-background) 0,
                transparent 66%
            ),
            url('code-background.svg') no-repeat -10% calc(100% + 2.5rem) / 20% auto,
            url('code-background.svg') no-repeat 110% calc(100% + 2.5rem) / 20% auto;
    }

    .code-box .code-copy {
        margin: 0.33rem;
    }
}
