.hero {
    overflow-x: hidden;
}

.hero .container {
    display: flex;
}

.hero .content {
    text-align: center;
    max-width: 600px;
    margin: auto;
}

.hero .content:has(+ .image),
.hero .content:has(+ .image) h1 {
    text-align: start;
    margin: initial;
}

.hero h1 {
    font-weight: normal;
    font-size: 280%;
}

.hero .subtitle {
    display: inline-block;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1.25rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: rgba(255, 255, 255, 0.01);
    border-radius: 2rem;
    font-size: 75%;
}

.hero .subtitle::before {
    margin-inline-end: 0.5rem;
    content: "X";
}

.hero p {
    line-height: 1.75;
}

@media screen and (min-width: 576px) {
    .hero .content:has(+ .image) {
        width: 66%;
        margin-inline-end: 2rem;
    }

    .hero .image {
        width: 33%;
        margin-inline-start: 2rem;
    }

    .hero .image img {
        max-height: 500px;
    }
}

@media screen and (min-width: 768px) {
    .hero .content:has(+ .image),
    .hero .image {
        width: 50%;
    }
}
