main {
    display: flex;
}

main nav.sidebar {
    background: var(--pico-background-color);
    transition: left 0.3s ease;
    position: relative;
    left: -300px;
    width: 300px;
    z-index: 1000;
    flex-shrink: 1;
}

main nav.sidebar.show {
    left: 0;
}

main .content {
    flex-grow: 1;
    margin: 0 2.5%;
}

@media screen and (min-width: 992px) {
    main nav.sidebar {
        position: static;
        width: 300px;
        left: 0;
    }
}


@media screen and (max-width: 991px) {
    header nav .sidebar-open.show,
    header nav .sidebar-close.show {
        display: block;
    }

    main .content {
        margin-inline-start: calc(-300px + 2.5%);
    }
}

main nav.sidebar .menu {
    --pico-nav-element-spacing-vertical: 0.35rem;
    --pico-nav-element-spacing-horizontal: 1rem;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

main nav.sidebar > .menu {
    border-inline-end: 1px solid var(--pico-muted-border-color);
    background-color: var(--pico-muted-color);
    background-image:
        radial-gradient(
            circle at calc(100% + 10rem) 10rem,
            var(--pico-primary-background) 0,
            transparent 20rem
        );
    padding: 1rem 0;
}

main nav.sidebar li {
    width: 100%;
}

main nav.sidebar .menu .menu li {
    padding-inline-start: 1.5rem;
}

main nav.sidebar .active {
    font-weight: bold;
}

main nav.sidebar a {
    color: var(--pico-contrast);
}

main nav.sidebar summary a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main nav.sidebar details.is-menu[open] > summary a {
    color: var(--pico-contrast-hover);
}

main nav.sidebar details.is-menu[open] > summary svg {
    transform: rotate(90deg);
}

[dir="rtl"] main nav.sidebar svg {
    transform:scaleX(-1);
}

main nav.sidebar .menu-item {
    padding: var(--pico-nav-element-spacing-vertical) 0;
    justify-content: space-between;
    display: flex;
}

main nav.sidebar details summary::marker,
main nav.sidebar details summary ::-webkit-details-marker {
    content: "";
}
